.static h1 {
    margin: 50px 0 15px;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 42px;
    letter-spacing: -3px;
    font-family: montserrat;
}
.div1 {
    width: 300px;
    height: 100px;  
    padding: 50px;
    border: 1px solid red;
    box-sizing: border-box;
  }
